<!DOCTYPE html>
<html>
  <head>
    <title>promisesoftheheart</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <%= javascript_include_tag "jquery" %>
    <%= stylesheet_link_tag "template" %>
  </head>

  <body>
    <div class="header">
      <span class="logo">
        <%= image_tag "logo" %>
        <h1>Promises of the Heart</h1>
      </span>
      <span class="nav">
        <ul>
          <li><%= link_to "HOME", :controller => 'home', :action => 'index'%></li>
          <li><%= link_to "GALLERY", :controller => 'gallery', :action => 'index'%></li>
          <li><%= link_to "CONTACT", :controller => 'home', :action => 'index'%></li>
        </ul>
      </span>
    </div>
  <!-- </body>
</htlm> -->
